// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>

// Bitmaps
IDB_AUTO_WORDCOMPLETE BITMAP "res\\auto_wordcomplete.bmp"
IDB_BLANK_SPACETOTAB BITMAP "res\\blank_spacetotab.bmp"
IDB_BLANK_TABTOSPACE BITMAP "res\\blank_tabtospace.bmp"
IDB_BLANK_TRIMTRAILING BITMAP "res\\blank_trimtrailing.bmp"
IDB_BOOKMARK_CLEAR BITMAP "res\\bookmark_clear.bmp"
IDB_BOOKMARK_NEXT BITMAP "res\\bookmark_next.bmp"
IDB_BOOKMARK_PREV BITMAP "res\\bookmark_prev.bmp"
IDB_CLONE_CLONETOOTHER BITMAP "res\\clone_clonetoother.bmp"
IDB_COMMENT_CLEAR BITMAP "res\\comment_clear.bmp"
IDB_COMMENT_SET BITMAP "res\\comment_set.bmp"
IDB_CUSTOMIZE_TOOLBAR BITMAP "res\\customize_toolbar.bmp"
IDB_CUSTOM_BACKGROUND16 BITMAP "res\\custom_background16.bmp"
IDB_CUSTOM_BACKGROUND32 BITMAP "res\\custom_background32.bmp"
IDB_CUSTOM_MISSINGFILE BITMAP "res\\custom_missingfile.bmp"
IDB_EDIT_DELETE BITMAP "res\\edit_delete.bmp"
IDB_FILE_CLOSEALLBUT BITMAP "res\\file_closeallbut.bmp"
IDB_INDENT_DECREASE BITMAP "res\\indent_decrease.bmp"
IDB_INDENT_INCREASE BITMAP "res\\indent_increase.bmp"
IDB_LINE_DUPLICATE BITMAP "res\\line_duplicate.bmp"
IDB_MOVE_MOVETOOTHER BITMAP "res\\move_movetoother.bmp"
IDB_SEARCH_FINDINFILES BITMAP "res\\search_findinfiles.bmp"
IDB_SEARCH_FINDNEXT BITMAP "res\\search_findnext.bmp"
IDB_SEARCH_FINDPREV BITMAP "res\\search_findprev.bmp"
IDB_SEARCH_GOTO BITMAP "res\\search_goto.bmp"
IDB_SEARCH_INCREMENTAL BITMAP "res\\search_incremental.bmp"
IDB_SEARCH_RESULTS BITMAP "res\\search_results.bmp"
IDB_VIEW_FOLDALL BITMAP "res\\view_foldall.bmp"
IDB_VIEW_HIDELINES BITMAP "res\\view_hidelines.bmp"
IDB_VIEW_UNFOLDALL BITMAP "res\\view_unfoldall.bmp"
IDB_ZOOM_RESTORE BITMAP "res\\zoom_restore.bmp"

// Icons
IDI_AUTO_WORDCOMPLETE ICON "res\\auto_wordcomplete.ico"
IDI_BLANK_SPACETOTAB ICON "res\\blank_spacetotab.ico"
IDI_BLANK_TABTOSPACE ICON "res\\blank_tabtospace.ico"
IDI_BLANK_TRIMTRAILING ICON "res\\blank_trimtrailing.ico"
IDI_BOOKMARK_CLEAR ICON "res\\bookmark_clear.ico"
IDI_BOOKMARK_NEXT ICON "res\\bookmark_next.ico"
IDI_BOOKMARK_PREV ICON "res\\bookmark_prev.ico"
IDI_CLONE_CLONETOOTHER ICON "res\\clone_clonetoother.ico"
IDI_COMMENT_CLEAR ICON "res\\comment_clear.ico"
IDI_COMMENT_SET ICON "res\\comment_set.ico"
IDI_CUSTOMIZE_TOOLBAR ICON "res\\customize_toolbar.ico"
IDI_CUSTOM_FAILEDMATCH ICON "res\\custom_failedmatch.ico"
IDI_CUSTOM_MISSINGFILE ICON "res\\custom_missingfile.ico"
IDI_EDIT_DELETE ICON "res\\edit_delete.ico"
IDI_FILE_CLOSEALLBUT ICON "res\\file_closeallbut.ico"
IDI_INDENT_DECREASE ICON "res\\indent_decrease.ico"
IDI_INDENT_INCREASE ICON "res\\indent_increase.ico"
IDI_LINE_DUPLICATE ICON "res\\line_duplicate.ico"
IDI_MOVE_MOVETOOTHER ICON "res\\move_movetoother.ico"
IDI_SEARCH_FINDINFILES ICON "res\\search_findinfiles.ico"
IDI_SEARCH_FINDNEXT ICON "res\\search_findnext.ico"
IDI_SEARCH_FINDPREV ICON "res\\search_findprev.ico"
IDI_SEARCH_GOTO ICON "res\\search_goto.ico"
IDI_SEARCH_INCREMENTAL ICON "res\\search_incremental.ico"
IDI_SEARCH_RESULTS ICON "res\\search_results.ico"
IDI_VIEW_FOLDALL ICON "res\\view_foldall.ico"
IDI_VIEW_HIDELINES ICON "res\\view_hidelines.ico"
IDI_VIEW_UNFOLDALL ICON "res\\view_unfoldall.ico"
IDI_ZOOM_RESTORE ICON "res\\zoom_restore.ico"
